---
---
<section id="about" class="py-24 bg-lightGray">
  <div class="container mx-auto px-3 text-center">
    <h2 class="text-4xl mb-6 font-bold">Advanced Statistics</h2>
    <p class="">Track how your links are performing across the web with our 
      advanced statistics dashboard.
    </p>
  </div>
  <!-- feature cards container -->
  <div class="relative container flex flex-col items-start px-6 mx-auto md:flex-row md:space-x-7">
    <!-- horizontal line -->
    <div class="hidden absoulte top-24 w-1 left-16 h-3 bg-cyan"></div>
    <!-- vertical line -->
    <div class="absolute w-2 left-1/2 h-full -ml-1 bg-cyan md:hidden"></div>

    <!-- card 1 -->
    <div class="relative flex flex-col p-6 space-y-6 bg-white rounded-lg md:w-1/3">
      <!-- icon -->
      div
    </div>
    <!-- card 2 -->

    <!-- card 3 -->

  </div>
  

  

  Brand Recognition

  Boost your brand recognition with each click. Generic links don’t 
  mean a thing. Branded links help instil confidence in your content.

  Detailed Records

  Gain insights into who is clicking your links. Knowing when and where 
  people engage with your content helps inform better decisions.

  Fully Customizable

  Improve brand awareness and content discoverability through customizable 
  links, supercharging audience engagement.
</section>