---
import { Image } from "astro:assets";
import brandIcon from '../../src/images/icon-brand-recognition.svg';
import recordsIcon from '../../src/images/icon-detailed-records.svg';
import customizeIcon from '../../src/images/icon-fully-customizable.svg';
---
<section id="about" class="grid justify-items-center py-24 bg-lightGray">
  <div class="container max-w-xl mx-auto px-3 pb-28 text-center">
    <h2 class="text-xl mb-6 font-bold">Advanced Statistics</h2>
    <p class="lg:text-med">Track how your links are performing across the web with our 
      advanced statistics dashboard.
    </p>
  </div>
  <!-- Card Container Grid -->
  <div class="container px-3 max-w-6xl relative grid gap-20 lg:gap-8 justify-items-center lg:grid-cols-3 text-center">
    <!-- decorative line - vertical -->
    <div class="absolute w-2 left-1/2 h-full -ml-1 bg-cyan lg:hidden"></div>
    <!-- decorative line - horizontal -->
    <div class="hidden absolute self-center h-3 bg-cyan w-full max-w-[90%] lg:block"></div>
    <!-- card 1 -->
    <div class="relative max-w-[360px] flex flex-col items-center px-6 py-12 space-y-6 bg-white rounded-lg lg:self-start lg:items-start">
      <!-- icon container-->
      <div class="absolute -top-10 flex items-center justify-center w-[88px] h-[88px] p-4 rounded-full bg-veryDarkViolet">
        <Image 
        src={brandIcon} 
        alt=""/>
      </div>
      <h3 class="text-lg">Brand Recognition</h3>
      <p class="text-sm lg:text-base lg:text-left">Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
    </div>
    <!-- card 2 -->
    <div class="relative max-w-[360px] flex flex-col items-center px-6 py-12 space-y-6 bg-white rounded-lg lg:mt-12 lg:self-start lg:items-start">
      <!-- icon container-->
      <div class="absolute -top-10 flex items-center justify-center w-[88px] h-[88px] p-4 rounded-full bg-veryDarkViolet">
        <Image 
        src={recordsIcon} 
        alt=""/>
      </div>
      <h3 class="text-lg">Detailed Records</h3>
      <p class="text-sm lg:text-base lg:text-left">Gain insights into who is clicking your links. Knowing when and where 
        people engage with your content helps inform better decisions.</p>
    </div>
    <!-- card 3 -->
    <div class="relative max-w-[360px] flex flex-col items-center px-6 py-12 space-y-6 bg-white rounded-lg lg:mt-24 lg:items-start">
      <!-- icon container-->
      <div class="absolute -top-10 flex items-center justify-center w-[88px] h-[88px] p-4 rounded-full bg-veryDarkViolet">
        <Image 
        src={customizeIcon} 
        alt=""/>
      </div>
      <h3 class="text-lg">Fully Customizable</h3>
      <p class="text-sm lg:text-base lg:text-left">Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
    </div>
  </div>

</section>

<style>
  .stacked {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }
</style>