---
---
<section id="cta" class="py-24 md:py-14 bg-darkViolet bg-boost-mobile md:bg-boost-desktop bg-no-repeat bg-cover">
  <div class="flex flex-col items-center px-3 text-center">
    <h2 class="text-white mb-5 md:mb-8 text-xl md:text-2xl font-bold">Boost your links today</h2>
    <a class="rounded-full bg-cyan text-white text-med-lg font-bold py-3.5 px-10 cursor-pointer hover:bg-cyanLight ease-in-out duration-300">Get Started</a>
  </div>
</section>