---
import { Image } from "astro:assets";
---
<section id="hero">
  <!-- hero container -->
  <div class="container flex flex-col-reverse mx-auto max-w-6xl py-6 px-6 xl:px-0">
    <!-- hero text -->
    <div class="flex flex-col space-y-10 mb-44 lg:mt-16 lg:w-1/2 xl:mb-52">
      <h1 class="text-[42px] leading-tight font-bold text-center lg:text-6xl lg:max-w-md lg:text-left">More than just shorter links</h1>
      <!-- ToDo: check p text color - apply text center to body?-->
      <p class="text-center text-grayishViolet lg:max-w-md lg:text-left">
        Build your brand's recognition and get detailed insights on how your links are performing.
      </p>
      <div class="mx-auto">
        <a class="rounded-full bg-cyan text-white text-xl font-bold leading-none mx-auto py-3.5 px-10 hover:opacity-70">Get Started</a>
      </div>

    </div>
    <!-- hero image -->
  </div>

  <div class="container flex flex-col-reverse mx-auto max-w-6xl py-6 px-6 xl:px-0">
    <div>
      <h2>A Heading Two</h2>
      <p>Some test text</p>
    </div>
  </div>

</section>

<style>
  p {
    margin: 0;
  }
</style>