---
import { Image } from "astro:assets";
import heroImage from "../../src/images/illustration-working.svg";
---
<section id="hero">
  <!-- hero container -->
  <div class="container flex flex-col-reverse mx-auto md:flex-row max-w-6xl py-6 px-6 xl:px-0">
    <!-- hero text -->
    <div class="flex flex-col items-center text-center md:items-start md:text-left">
      <h1 class="mb-4 text-[42px] leading-tight font-bold  lg:text-6xl lg:max-w-md lg:text-left">More than just shorter links</h1>
      <!-- ToDo: check p text color - apply text center to body?-->
      <p class="mb-7 text-grayishViolet lg:max-w-md lg:text-left">
        Build your brand's recognition and get detailed insights on how your links are performing.
      </p>
      <a class="rounded-full bg-cyan text-white text-xl font-bold py-3.5 px-10 cursor-pointer hover:opacity-70">Get Started</a>
    </div>
    <!-- hero image -->
    <div class="w-[157%] md:w-full mb-8">
      <Image 
        src={heroImage}
        alt="Illustration of person working at a computer" 
      />
    </div>
  </div>

  <!-- <img src="../../src/images/illustration-working.svg" alt=""> -->

</section>